aniso8601==9.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
dateutils==0.6.12
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
flask-marshmallow==0.14.0
flask-mongoengine==1.0.0
flask-restplus==0.13.0
Flask-WTF==0.14.3
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
lxml==4.6.2
MarkupSafe==1.1.1
marshmallow==3.11.1
mongoengine==0.23.0
mongoengine-goodjson==1.1.8
packaging==20.9
pluggy==0.13.1
py==1.10.0
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
tzlocal==2.1
urllib3==1.26.2
Werkzeug==0.16.1
WTForms==2.3.3
